@page "/settings"
@page "/"

@using Plugin.LocalNotification
@using Plugin.LocalNotification.AndroidOption

@implements IDisposable

<MudStack>
    <MudText Typo="Typo.h5">Settings</MudText>
    <MudText Typo="Typo.h6">Schedule Notifications:</MudText>
    <MudContainer Class="pl-3 pr-3">
        <MudGrid>
            <MudItem>
                <MudText Typo="Typo.body1">Activate Push-Notifications</MudText>
            </MudItem>
            <MudItem>
                <MudSwitch Checked="NotificationActive" Color="Color.Primary" T="bool" CheckedChanged="NotifyMeChanged" />
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem>
                <MudText Typo="Typo.body1">Remind me every:</MudText>
            </MudItem>
            <MudItem>
                <MudSelect T="NotificationOptionEnum" @bind-Value="NotificationOption" Label="Select" Placeholder="Please Select">
                    <MudSelectItem T="NotificationOptionEnum" Value="NotificationOptionEnum.EverySecondDay">Every other day</MudSelectItem>
                    <MudSelectItem T="NotificationOptionEnum" Value="NotificationOptionEnum.EveryDay">Everyday</MudSelectItem>
                    <MudSelectItem T="NotificationOptionEnum" Value="NotificationOptionEnum.CostumWeekday">Custom Weekdays</MudSelectItem>
                </MudSelect>
            </MudItem>
        </MudGrid>
        @if (NotificationOption == 0)
        {
            <MudSimpleTable Dense="true" Class="mt-5">
                <thead>
                    <tr style="padding:0">
                        <th style="text-align:center">M</th>
                        <th style="text-align:center">T</th>
                        <th style="text-align:center">W</th>
                        <th style="text-align:center">T</th>
                        <th style="text-align:center">F</th>
                        <th style="text-align:center">S</th>
                        <th style="text-align:center">S</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckMonday" Color="Color.Primary"></MudCheckBox></td>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckTuesday" Color="Color.Primary"></MudCheckBox></td>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckWednesday" Color="Color.Primary"></MudCheckBox></td>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckThursday" Color="Color.Primary"></MudCheckBox></td>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckFriday" Color="Color.Primary"></MudCheckBox></td>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckSaturday" Color="Color.Primary"></MudCheckBox></td>
                        <td style="padding:0"><MudCheckBox Class="m-0" @bind-Checked="@CheckSunday" Color="Color.Primary"></MudCheckBox></td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        }
    </MudContainer>

</MudStack>
@code {
    static readonly string NotificationPreferenceKey = "NotificationsEnabled";

    static readonly string NotificationOptionPreferenceKey = "NotificationOptions";

    bool NotificationActive = true;

    NotificationOptionEnum NotificationOption { get; set; } = NotificationOptionEnum.EverySecondDay;

    NotificationRequest _Notification = new NotificationRequest
        {
            BadgeNumber = 1,
            Description = "Hey! Time to work out!",
            Title = "This is your reminder to stay on your workout schedule.\n Your body will appreciate it, and even more importantly your streak will appreciate it! ",
            NotificationId = 1,
            Android = new AndroidOptions
            {
                Priority = AndroidPriority.High
            }
        };

    bool CheckMonday = true;
    bool CheckTuesday = true;
    bool CheckWednesday = true;
    bool CheckThursday = true;
    bool CheckFriday = true;
    bool CheckSaturday = true;
    bool CheckSunday = true;

    protected override void OnInitialized()
    {
        NotificationActive = Preferences.Get(NotificationPreferenceKey, false);
        NotificationOption = (NotificationOptionEnum)Preferences.Get(NotificationOptionPreferenceKey, 1);

        base.OnInitialized();
    }

    void NotifyMeChanged(bool switchState)
    {
        NotificationActive = switchState;

        Preferences.Set(NotificationPreferenceKey, NotificationActive);

        if (switchState)
        {
            switch (NotificationOption)
            {
                case NotificationOptionEnum.EveryDay:
                    SetDailySchedule(new System.TimeSpan(24, 0, 0));
                    break;
                case NotificationOptionEnum.EverySecondDay:
                    SetDailySchedule(new System.TimeSpan(48, 0, 0));
                    break;
                case NotificationOptionEnum.CostumWeekday:
                    SetWeekdaySchedule();
                    break;
            }

            NotificationCenter.Current.Show(_Notification);

        }
    }

    public void Dispose()
    {
        Preferences.Set(NotificationPreferenceKey, NotificationActive);
        Preferences.Set(NotificationOptionPreferenceKey, (int)NotificationOption);
    }

    private void SetDailySchedule(System.TimeSpan notificationRepeatTime)
    {
#if ANDROID

    _Notification.Schedule = new NotificationRequestSchedule()
    {
    NotifyTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 12, 0, 0).Add(notificationRepeatTime),
    RepeatType = NotificationRepeat.TimeInterval,
    NotifyRepeatInterval = notificationRepeatTime
    };

#endif
    }

    private void SetWeekdaySchedule()
    {
        //TODO: Wie wollen wir das machen?
//#if ANDROID || IOS
//   _Notification.Schedule = new NotificationRequestSchedule()
//    {
//        DateTime.Now.Da

//    NotifyTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 12, 0, 0).Add(notificationRepeatTime.Value),
//    RepeatType = NotificationRepeat.TimeInterval,
//    NotifyRepeatInterval = notificationRepeatTime
//    }
//    };
//#endif
    }

}
