@inherits MudComponentBase

<MudBadge Color="Color.Primary" Dot="true" Overlap="true" Visible="_newNotificationsAvailable">
    <MudMenu Icon="@Icons.Outlined.Notifications" 
             AnchorOrigin="Origin.BottomLeft" 
             TransformOrigin="Origin.TopCenter" 
             PopoverClass="docs-layout-menu-shadow" 
             ListClass="pa-2 docs-menu-list" 
             LockScroll="true">
        <div class="d-flex justify-space-between align-center px-2">
            <MudText Typo="Typo.subtitle2">Notifications</MudText>
            <MudButton Disabled="@(_newNotificationsAvailable == false)" 
                       OnClick="MarkNotificationAsRead" 
                       StartIcon="@Icons.Filled.DoneAll" 
                       Variant="Variant.Text" 
                       Color="Color.Primary">
            </MudButton>
        </div>
        @if (_messages != null && _newNotificationsAvailable)
        {
            @foreach (var (message, isRead) in _messages.Take(5))
            {
                <MudMenuItem Class="px-2 py-0 rounded">
                    <MudText Typo="Typo.subtitle2">@message</MudText>
                    <MudText Typo="Typo.body2">@notificationTime</MudText>
                </MudMenuItem>
                <MudDivider Class="my-2" />
            }
        }
        else
        {
            <div class="d-flex justify-center align-center px-2 py-8 relative">
                <MudText Class="mud-text-secondary my-12">Nothing new :(</MudText>
            </div>
        }
    </MudMenu>
</MudBadge>

